.korz-container{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.korz-container--content{
    width: 1440px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    min-height: 420px;
}

.korz-container--content-left{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #dfdfdf;
}
.korz-container--content-left-ab{
    font-family: Hero New;
    font-weight: 400;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #dfdfdf;

}

.korz-container--content-left-card{
    width: 580px;
    height: 80px;
    font-family: Manrope;
    font-weight: 600px;
    font-size: 20px;


    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
}

.korz-container--content-left-card-img{
    margin-top: 15px;
    max-width: 100px;
    max-height: 40px;
}

.korz-container--content-left-card-name{
    height: 23px;
    font-size: 23px;
    margin-left: 30px;
}

.korz-container--content-left-card-price{
    margin-top: 30px;
    font-size: 22px;
}

.korz-container--content-left-block-oform{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
}

.korz-container--content-left-final{
    margin-top: 33px;
    font-family: Hero New;
    font-size: 25px;
    font-weight: 100px;
}

.korz-container--content-left-btn{
    margin-top: 32px;
    width: 600px;
    height: 85px;
    font-size: 30px;
    border: 2px solid #00C6CF;
    font-family: Hero New;
    font-weight: 400;
    background-color: #fff;
    color: #00C6CF;
    transition: 0.2s;
}

.korz-container--content-left-btn:hover{
    background-color: #e3feff;
}

.korz-container--content-left-btn:active{
    transition: 0.1s;
    color: #35d26e;
    border: 2px solid #35d26e;
    background-color: #fff;
}

.korz-container--content-right{
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 60px;
}


@media(max-width: 1440px){
  
}

@media(max-width: 768px){
    .korz-container{
        width: 768px;
    }
    .korz-container--content{
        width: 768px;
        flex-direction: column;
        align-items: center;
    }
    .korz-container--content-left{
        width: 768px;
        border-right: none;
    }

    .korz-container--content-left-card{
        width: 750px;
    }

    .korz-container--content-right{
        width: 768px;
        padding-left: 55px;
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        gap: 50px;
    }
}

@media(max-width: 576px){

}