.balls-container{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.balls-container--block{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.balls-container--block-name{
    font-size: 48px;
    font-family: Manrope;
    font-weight: 300;
}

.balls-container--block-stuf{
    width: 1440px;
    border-top: 2px solid #dfdfdf;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 50px;
    display: grid;
    
    grid-template-columns: repeat(4, 0fr);
    gap: 40px;
}

@media(max-width: 1440px){
  
}

@media(max-width: 768px){
    .balls-container{
        width: 768px;
    }
    .balls-container--block{
        width: 768px;
    }
    .balls-container--block-name{
        font-size: 40px;
    }
    .balls-container--block-stuf{
        width: 768px;
        padding-left: 60px;
        padding-top: 30px;
        grid-template-columns: repeat(2, 0fr);
        gap: 40px;
    }
}

@media(max-width: 576px){

}